@using DAL.Models;
@model Productos
@{
    ViewBag.Title = "AgregarProductos";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>Agregar Producto</h2>
            </center>

            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x=>x.IdProducto)
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre: </label>
                        @Html.TextBoxFor(x => x.NombreProducto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NombreProducto, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Descripcion: </label>
                        @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label>Cantidad: </label>
                        @Html.TextBoxFor(x=>x.Cantidad, new { @class = "form-control"})
                        @Html.ValidationMessageFor(x=>x.Cantidad,null,new { @class="text-danger"})
                    </div>
                    <div class="form-group">
                        <label>Precio: </label>
                        @Html.TextBoxFor(x=>x.Precio, new { @class="form-control" })
                        @Html.ValidationMessageFor(x => x.Precio, null, new { @class="text-danger"})
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Registrar</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
