@using DAL.Models;
@model List<Productos>
@using BAL.Services;

 
@{
    ViewBag.Title = "MostrarProductos";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <center>
                <h1>Listado de productos</h1>
            </center>
            <br />
            <button class="btn btn-default"
                    onclick="window.location.href = '/Productos/AgregarProductos'">
                Agregar Producto
            </button>
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var prod in Model)
                        {
                            <tr>
                                <td>@prod.IdProducto</td>
                                <td>@prod.NombreProducto</td>
                                <td>@prod.Descripcion</td>
                                <td>@prod.Cantidad</td>
                                <td>@prod.Precio</td>
                                <td>
                                    <button class="btn btn-success"
                                            onclick="window.location.href = '/Productos/AgregarProductos?idProd='+@prod.IdProducto">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger"
                                            onclick="window.location.href='/Productos/EliminarProducto?idProd='+@prod.IdProducto">
                                        Eliminar
                                    </button>
                                    <button class="btn btn-danger"
                                            onclick="window.location.href='/Productos/SeleccionarProducto?id='+@prod.IdProducto">
                                        Seleccionar
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <center class="text-danger">
                                    ¡No hay datos para mostrar!
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="row">
                <div class="col-md-6">
                    <center>
                        <h1>Listado de productos</h1>
                    </center>
                    <br />
                    <button class="btn btn-default"
                            onclick="window.location.href = '/Productos/AgregarProductos'">
                        Agregar Producto
                    </button>
                    <br />
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>ID</td>
                            <td>Nombre</td>
                            <td>Cantidad</td>
                            <td>Precio</td>
                            <td>Total</td>
                        </tr>

                        @if (Model.Count > 0)
                        {
                            foreach (var persona in ProductoVendido.listaProductoVendido)
                            {
                                <tr>
                                    <td>@persona.id</td>
                                    <td>@persona.NombreProducto</td>
                                    <td>@persona.cantidad</td>
                                    <td>$ @persona.Precio</td>
                                    <td>$ @persona.Total</td>
                                </tr>

                            }

                        }
                    </table>

                    <h4>Total: $ @ProductoVendido.TotalAPagar</h4>

                    <button class="btn btn-default"
                            onclick="window.location.href = '/Productos/Vender'">
                        Realizar Venta
                    </button>

                </div>
            </div>

            <button class="btn btn-success"
                    onclick="window.location.href = '/Productos/MostrarVentas'">
                Ver Ventas
            </button>
        </div>

        @if (ViewBag.Eliminado != null)
        {
            if ((bool)ViewBag.Eliminado)
            {
                <script>alert("El producto se elimino correctamente")</script>
            }
            else
            {
                <script>alert("El producto no pudo eliminarse")</script>
            }
        }

